<div class="container">
    <h1>JSON Table</h1>
    <button {{action 'previousPage'}}>Previous</button>
    <button {{action 'nextPage' model.length}}>Next</button>
    Current Page:{{page}}
    <hr />
    Tasks: {{model.length}}
    <div class="items">
        <div class="items__single items__heading show-desktop">
            <div class="single__info single__id">ID</div>
            <div class="single__info single__user">USER ID</div>
            <div class="single__info single__title">TITLE</div>
        </div>
        <div id="modal">
            <span class="modal__close" {{action "closeModal"}}>X</span>
            <div class="modal-content">
                <div class="modal__row"><b>User Name: </b><span id="modal__name"></span></div>
                <div class="modal__row"><b>User Email: </b><span id="modal__email"></span></div>
                <div class="modal__row"><b>User Phone:</b> <span id="modal__phone"></span></div>
                <div class="modal__row" id="modal__link"></div>
                <div class="modal__row"><b>Full Post: </b><span id="modal__post"></span></div>
                
            </div>
            
        </div>

        {{#each model as |item|}}
        {{#if (eq page item.pageToShowOn) }}
        <div class="items__single" {{action "showPerson" item.userId item.body}}>
            <div class="single__info single__id"><span class="show-mobile"><b>ITEM ID: </b></span>{{item.id}}</div>
            <div class="single__info single__user"><span class="show-mobile"><b>USER ID: </b></span>{{item.userId}}
            </div>
            <div class="single__info single__title"><span class="show-mobile"><b>ITEM TITLE: </b></span>{{item.title}}
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>
